VNPT/App_WebReferences/loginVNPT/AppSecurityServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.34.1.3/WebServices/AppSecurityServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="LoginResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithOtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithOtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginWithOtpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCreateOtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCreateOtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReCreateOtpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtpLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Otp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OtpLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="OtpLoginResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleofUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="_User" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleofUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="getRoleofUserResult" nillable="true" type="q4:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRightofUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="_User" nillable="true" type="q5:User" />
        <xs:element minOccurs="0" name="_KeyRoot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRightofUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="getRightofUserResult" nillable="true" type="q6:ArrayOfRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_OldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_NewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNewPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_NewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNewPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeNewPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_VerifyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForgetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InfoUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InfoUpdateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAppConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendSmsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendSmsWithChanel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Chanel" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendSmsWithChanelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendSmsWithChanelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ParentId" type="xs:int" />
        <xs:element minOccurs="0" name="_SenderId" type="xs:short" />
        <xs:element minOccurs="0" name="_ReceiverId" type="xs:short" />
        <xs:element minOccurs="0" name="_Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_SubjectId" type="xs:short" />
        <xs:element minOccurs="0" name="_AttachFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ShareFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_SendSms" type="xs:boolean" />
        <xs:element minOccurs="0" name="_KeySearch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_SendCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_refSubjectId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicationNameByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_PageName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getApplicationNameByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getApplicationNameByPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FwReCreateOtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_SysId" type="xs:short" />
        <xs:element minOccurs="0" name="_Chanel" type="xs:short" />
        <xs:element minOccurs="0" name="_Tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_SmsUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_SmsPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FwReCreateOtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FwReCreateOtpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FwVerifyOtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_SysId" type="xs:short" />
        <xs:element minOccurs="0" name="_UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Otp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FwVerifyOtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FwVerifyOtpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FwSmsSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Tel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Type" type="xs:short" />
        <xs:element minOccurs="0" name="_Chanel" type="xs:short" />
        <xs:element minOccurs="0" name="_SmsUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_SmsPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FwSmsSendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FwSmsSendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLocalFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FolderRootName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLocalFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="getAllLocalFolderResult" nillable="true" type="q7:ArrayOfvFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_ParentPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createFolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FolderPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_NewFolderPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moveFolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FolderPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_NewFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="moveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moveFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_SourceFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_DestFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPersonalResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPersonalResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPersonalResourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkExitsFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FolderPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkExitsFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkExitsFolderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkExitsFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkExitsFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkExitsFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="getFileInfoResult" nillable="true" type="q8:vFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileListOfFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FileList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_FolderPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileListOfFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="getFileListOfFolderResult" nillable="true" type="q9:ArrayOfvFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileListOfCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_FilePathList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFileListOfCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VnptHdgPortal.Web.Lib" minOccurs="0" name="getFileListOfCollectionResult" nillable="true" type="q10:ArrayOfvFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>